@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="text-center">
    <style>        
        .notes-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -16px;
        }
        
        .note {
          background: #fff;
          border-radius: 7px;
          box-shadow: 0 2px 5px #ccc;
          padding: 10px;
          width: calc(33.33% - 32px);
          margin: 16px;
        }
        
        .note h1 {
          font-size: 1.1em;
          margin-bottom: 6px;
        }
        
        .note p {
          font-size: 1.1em;
          margin-bottom: 10px;
          white-space: pre-wrap;
          word-wrap: break-word;
        }

    </style>

    <h1>My Notes</h1>
    
    <div>
                <h6>Filter by tags:</h6>
                <span>
                    @foreach(var tag in Model.FilteredTags){
                        <form asp-controller="Home" asp-action="FilterBy"  method="post">
                                <input type="hidden" asp-for="FiltString" value="@tag.Name" />
                                <input type="hidden" asp-for="FiltOption" value="tag" />
                                <div class="button-container">
                                    <button type="submit" name="action" >@tag.Name</button>
                                </div>
                        </form>
                    }
                </span>
                <h6>Filter by categories:</h6>
                <span>
                @foreach(var category in Model.FilteredCategories){
                     <form asp-controller="Home" asp-action="FilterBy"  method="post">
                                <input type="hidden" asp-for="FiltString" value="@category.Name" />
                                 <input type="hidden" asp-for="FiltOption" value="cat" />
                                <div class="button-container">
                                    <button type="submit" name="action" >@category.Name</button>
                                </div>
                     </form>
                }
                </span>

    </div>
    <div>
           <h6>Sort By:</h6>
           <form asp-controller="Home" asp-action="SortBy"  method="post">
                      <input type="hidden" asp-for="SortOption" value="title"/>
                            <div class="button-container">
                                <button type="submit" name="action" >Title</button>
                            </div>
           </form>
           <form asp-controller="Home" asp-action="SortBy"  method="post">
                      <input type="hidden" asp-for="SortOption" value="lma"/>
                            <div class="button-container">
                                <button type="submit" name="action" >Oldest</button>
                            </div>
           </form>
           <form asp-controller="Home" asp-action="SortBy"  method="post">
                      <input type="hidden" asp-for="SortOption" value="lmd"/>
                            <div class="button-container">
                                <button type="submit" name="action" >Newest</button>
                            </div>
           </form>
           <form asp-controller="Home" asp-action="SortBy"  method="post">
                      <input type="hidden" asp-for="SortOption" value="cat"/>
                            <div class="button-container">
                                <button type="submit" name="action" >Category Name</button>
                            </div>
           </form>
       </div>



    <div>
        @using (Html.BeginForm("AddNote","Home", FormMethod.Post))
        {
            <form asp-controller="Home" asp-action="AddNote" method="post">
            <style>
                .form-group {
                    margin-bottom: 20px;
                }
            
                label {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 5px;
                    color: #333;
                    font-weight: bold;
                }
            
                input[type="text"],
                input[type="password"] {
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                }
            
                input[type="text"]:focus,
                input[type="password"]:focus {
                    outline: none;
                    border: 1px solid #9c27b0;
                }
            </style>
            
            <div class="form-group">
                <label asp-for="NewNote.Note.Title">Title</label>
                <input asp-for="NewNote.Note.Title" class="form-control" />
                <span asp-validation-for="NewNote.Note.Title" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="NewNote.Note.Context">Context:</label>
                <input asp-for="NewNote.Note.Context" class="form-control" />
                <span asp-validation-for="NewNote.Note.Context" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewNote.CategoryString">Category:</label>
                <input asp-for="NewNote.CategoryString" class="form-control" />
                <span asp-validation-for="NewNote.Category.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewNote.TagString">Tags(comma separated):</label>
                <input asp-for="NewNote.TagString" class="form-control" />
                <span asp-validation-for="NewNote.TagString" class="text-danger"></span>
            </div>
        
                <style>
                .button-container {
                    display: flex;
                    justify-content: left;
                }
            
                button[type="submit"] {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                }
                
                button[type="submit"]:hover {
                    background-color: #3e8e41;
                }
            </style>
                
            <div class="button-container">
                <button type="submit" name="action">Add</button>
            </div>
        
        
            <style>
            .login-feedback h1 {
                margin: 20px 0;
                padding: 10px;
                border: 1px solid #f5c6cb;
                font-size: 24px;
                background-color: #f8d7da;
                color: #721c24;
                border-radius: 4px;
            }
            </style>
        
            <span asp-validation-for="NewNote.Note.ID" class="text-danger"></span>
        </form>
        }
    </div>
    
   
        
      <div class="notes-container">
            @foreach (var note in Model.CompleteNotes)
            {
                if(Model.UpdateNoteID != null && Model.UpdateNoteID == note.Note.ID){
                    <form asp-controller="Home" asp-action="SaveEdit" method="post">
                        <div class="note">
                            <div class="form-group">
                                <label asp-for="UpdateNote.Note.Title">Title</label>
                                <input asp-for="UpdateNote.Note.Title" class="form-control" value=@note.Note.Title />
                                <span asp-validation-for="UpdateNote.Note.Title" class="text-danger"></span>
                            </div>
         
                            <div class="form-group">
                                <label asp-for="UpdateNote.Note.Context">Context:</label>
                                <input asp-for="UpdateNote.Note.Context" class="form-control" value=@note.Note.Context />
                                <span asp-validation-for="UpdateNote.Note.Context" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UpdateNote.CategoryString">Category:</label>
                                <input asp-for="UpdateNote.CategoryString" class="form-control" value=@note.Category.Name />
                                <span asp-validation-for="UpdateNote.Category.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UpdateNote.TagString">Tags(comma separated):</label>
                                <input asp-for="UpdateNote.TagString" class="form-control" />
                                <span asp-validation-for="UpdateNote.TagString" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="UpdateNote.Note.ID" value="@note.Note.ID" />
                            <div class="button-container">
                                <button type="submit" name="action" >Save</button>
                            </div>
                    
                          </div>
                      </form>
                }
                else{

                    <div class="note">
                        <h1>@note.Note.Title</h1>
                        @if(note.Category != null){
                            <h3>@note.Category.Name</h3>
                        }
                        <p>@note.Note.Context</p>
                        @foreach (var tag in note.Tags)
					    {
                            Console.WriteLine(tag.Name);
						    <span>#@tag.Name</span>
					    }
                        <form asp-controller="Home" asp-action="DeleteNote" asp-route-id="@note.Note.ID" method="post">
                                <button type="submit">Delete</button>
                        </form>
                        <form asp-controller="Home" asp-action="UpdateNote" asp-route-id="@note.Note.ID" method="post">
                                <button type="submit">Update</button>
                        </form>

                    
                     </div>
                }

                

            }
       </div>

     
   

</div>
